.elgg-layout-analytics {
    display: flex;
    flex-wrap: wrap;
}

.elgg-layout-analytics .elgg-sidebar {
    float: none;
    border: none;
    padding: 10px;
    flex-grow: 0;
    background: none;
    box-shadow: none;
}

.elgg-layout-analytics .elgg-main {
    padding: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 70%;
}

.analytics-stats {
    display: flex;
    flex-wrap: wrap;
	margin: 10px auto;
	padding: 5px;
}

.analytics-stats > .analytics-stat {
    padding: 10px;
	flex: 75px 0 1;
}

.analytics-stat-value {
    font-size: 30px;
    margin: 5px 0;
	display: block;
	line-height: 1;
}

.analytics-stat-label {
    font-size: 12px;
	display: block;
	line-height: 1;
}

.analytics-table {
	width: 100%;
	border-top: 1px solid #dcdcdc;
	table-layout: fixed;
}
.analytics-table td,
.analytics-table th {
	padding: 5px 10px;
	border-bottom: 1px solid #dcdcdc;
	text-align: center;
}

.analytics-table th {
	background-color: #f4f4f4;
	color: #333;
	font-weight: bold;
}
.analytics-table tr:hover {
	background: #f4f4f4;
}

.analytics-table th:first-child,
.analytics-table td:first-child {
	width: auto;
	min-width: 200px;
	text-align: left;
}
